@import url('https://fonts.googleapis.com/css?family=Amiri|Roboto&display=swap');
*{
    text-align: center;
}
h2{
    font-family: 'Roboto', 'Amiri', 'Galada', sans-serif;
  }
p {
    padding: 40px;
   
    
  }

#Color1{
    background-color: red;
}

#Color2{
    background-color: white;
}

#Color3{
    background-color:blue;
}


